body {
	margin: 0;
	background-color: whitesmoke;
}

.grid-container { 
	display: grid;
}

.intro-container {
	background-color: rgb(80, 80, 80);
	color: white;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
}

.intro-container .logo-img {
	grid-column: 2/3;
	grid-row: 2/3;
	width: 50%;
	align-self: center;
	justify-self: center;
}

.intro-container .login-container{
	grid-column: 2/3;
	grid-row: 4/5;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: stretch;
}

.login-container form{
	width: 100%;
}

.login-container .lds-ring{
	position: absolute;
}


.dashboard-container {
	width: 100vw;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
}

.dashboard-container .dashboard-main-logo {
	height: 40px;
}

.dashboard-container .main-nav-container {
	grid-column: 1/4;
	grid-row: 1/2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;	
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
	height: 60px;
}

.dashboard-container .main-content-container {
	grid-column: 1/4;
	grid-row: 2/3;
	display: flex;
	justify-content: center;
	height: calc(100vh - 60px);
	overflow-y: scroll; 
}

.dashboard-container .main-nav-container .nav-item {
	display: inline-block;
	padding: 20px 10px;
}

.dashboard-container .main-nav-container .logout-btn{
	border: 1px solid #2758a7;
	color: #2758a7;
	background: transparent;
	padding: 10px 20px;
	border-radius: 6px;
	cursor: pointer;
}

.dashboard-container .main-nav-container .logout-btn:hover{
	color: white;
	background: #2758a7;
}

.dashboard-container .main-nav-container .main-nav-links{
	height: 100%;
}

.dashboard-container .main-nav-container .nav-item.active-nav {
	border-bottom: 5px solid #0a3272;
}
.dashboard-container .main-nav-container .cart-nav-links{
	padding-left: 16px;
}

.main-nav-container .nav-item .cart-count-badge { 
	display: inline-block;
	color: white;
	background-color: firebrick;
	width: 1em;
	padding: 2px;
	text-align: center;
	border-radius: 50%;
}

.product-list{
	 margin-top: 20px; 
	 width: 40vw;
}

.cart-details{
	width: 60vw;
}

.cart-details>h1{ 
	margin-bottom: 8px;
}

.cart-details .cart-count-label{ 
	margin-top: 8px;
}

.product-list li {
	list-style: none;
	margin-bottom: 10px; 
}

.cart-details li {
	list-style: none;
	margin-bottom: 1px; 
}

.product-card {
	background-color: white;
	color: black;
	border-radius: 4px;
}

.product-card .product-img {
	width: 100%;
	height: 500px;
	background-size: cover;	
}

.product-card .product-details {
	padding: 5px 20px;
	display: grid;
	grid-template-columns: 3fr 1fr 2fr;

}

.product-card .product-details .product-name {
	grid-column: 1/2;
	grid-row: 1/2;	
}

.product-card .product-details .product-details {
	grid-column: 1/4;
	grid-row: 2/3;	
}

.product-card .product-details .product-variants {
	grid-column: 1/4;
	grid-row: 3/4;	
}

.product-card .product-details .product-stock {
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: center;
	justify-self: center;
}

.product-card .product-details .product-price {
	grid-column: 3/4;
	grid-row: 1/2;	
	align-self: center;
	justify-self: end;
}

.product-card .product-details .product-price .display-text {
	font-size: 2em;
	font-weight: 400;
}

.cart-card {
	display: grid;
	grid-template-columns: 150px 3fr 2fr 2fr;
	grid-template-rows: 1fr 1fr;
	height: 120px;
}

.cart-card img {
	height: 100px;
	padding: 5px 16px;
	margin: 2px;
	grid-column: 1/2;
	grid-row: 1/3;	
	align-self: center;
	justify-self: center;
}

.cart-card .product-name {
	grid-column: 2/3;
	grid-row: 1/2;	
	align-self: end;
	justify-self: start;
	margin-bottom: 0;
	font-family: Lato, sans-serif;
	font-weight: 700;
}
.cart-card .product-variant {
	grid-column: 2/3;
	grid-row: 2/3;	
	align-self: start;
	justify-self: start;
	font-family: Lato, sans-serif;
	margin-top: 5px;
	font-size: 0.8em;
}

.cart-card .product-quantity {
	grid-column: 3/4;
	grid-row: 1/3;	
	align-self: center;	
	justify-self: end;
}

.cart-card .product-quantity-field {
	width: 40px;
}

.cart-card .product-subtotal {
	grid-column: 4/5;
	grid-row: 1/3;	
	align-self: center;
	justify-self: center;
}

.cart-card .product-subtotal .product-subtotal-value {
	font-size: 1.6em;
}

.cart-details .confirm-container {
	display: grid;
	grid-template-columns: 1fr auto auto;
	grid-template-rows: 5fr 3fr;
	margin-bottom: 16px;
}

.cart-details .confirm-container .confirm-subtotal-label{
	grid-column: 2/3;
	grid-row: 1/2;
	font-family: Lato, sans-serif;
	font-weight: 300;
	margin: 2px 30px 2px 8px;
	align-self: baseline;
}
.cart-details .confirm-container .confirm-subtotal-value{
	grid-column: 3/4;
	grid-row: 1/2;
	align-self: baseline;
}
.cart-details .confirm-container .confirm-subtotal-value span{
	font-size: 2.4em;
}
.cart-details .confirm-container .checkout-btn{
	grid-column: 2/4;
	grid-row: 2/3;
	margin: 0px 2px;
	background-color: #0a3272;
	color: white;
	border: none;
	border-radius: 2px;
	cursor: pointer;
}

.cart-details .confirm-container .checkout-btn:hover{
	background-color: #2758a7;
	color: white;
}

.cart-details .confirm-container .update-btn{
	grid-column: 1/2;
	grid-row: 2/3;
	justify-self: end;
	width: 150px;
	cursor: pointer;	
}

.cart-details .empty-cart-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.cart-details .empty-cart-container>h1{ 
	color: #2a6acf;
	font-size: 1.6em;
	margin-bottom: 5px;
}

.cart-details .empty-cart-container>p{ 
	
	margin-top: 5px;
}

.cart-details .empty-cart-container .back-shopping-btn{ 

	margin-top: 16px;
	padding: 16px 30px;
	background-color: rgb(27, 255, 225);
	border-radius: 8px;
}

.cart-details .empty-cart-container .back-shopping-btn:hover{
	background-color: rgb(21, 194, 171);
}

.order-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2px;
}

.order-card .order-info {
	padding-left: 16px;
}

.order-card .order-info .order-number {
	font-weight: 700;
	margin: 16px 0px 5px;
}
.order-card .order-info .order-qty {
	font-size: 0.8em;
	margin: 5px 0px 5px;
}
.order-card .order-info .order-total {
	font-size: 0.8em;
	margin: 5px 0px 16px;
}

.order-card .order-cancel-btn {
	margin-right: 16px;
	border: 1px solid #2758a7;
	color: #2758a7;
	background: transparent;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
	
}

.order-card .order-cancel-btn:hover {
	color: white;
	background: #2758a7;	
}


/*Media Queries Start */

@media only screen  
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
	.intro-container {
		text-align: center;
		grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
		grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
	}
	.intro-container .logo-img {
		grid-column: 3/4;
		grid-row: 2/3;
		width: 100%;
		align-self: center;
		justify-self: center;
	}
	
	.intro-container .login-container{
		grid-column: 2/5;
		grid-row: 3/4;
	}

	.product-list {
		width: 95vw;
	}

	.cart-card {
		grid-template-columns: 100px 4fr 2fr 4fr;
	}

	.cart-card .product-subtotal{
		text-align: right;
		padding-right: 10px;
	}

	.cart-details {
		width: 95vw;
	}

	.dashboard-main-logo {
		display: none;
	}

	.product-card {
		width: 95vw;
	}

	.product-card .product-details .product-price .display-text {
		font-size: 1.3em;
	}

	.dashboard-container .main-nav-container {
		grid-row: 1/2;
	}
	
	.dashboard-container .main-content-container {
		grid-row: 2/3;
	}

	.cart-details .confirm-container {
		grid-template-columns: 2fr 3fr 3fr
	}

	.cart-details .confirm-container .confirm-subtotal-label{
		grid-column: 1/2;
		margin: 2px 8px 16px 8px;
		text-align: right;
		align-self: end;
	}
	.cart-details .confirm-container .confirm-subtotal-value{
		grid-column: 2/4;
		text-align: right;
		padding-right: 10px;
	}

	.order-card{
		flex-direction: column;
		align-items: stretch;
	}

	.order-card .order-date {
		align-self: center;
		
	}

	.order-card .order-cancel-btn {
		align-self: center;
		margin-bottom: 16px;
	}
}

/*Media Queries End */

.intro-container .login-container input {
	color: white;
}

a{
	text-decoration: none;
	color: inherit;
}

.bg-primary {
	background-color: #37adff;
}

.txt-primary {
	color: #37adff;
}

.txt-secondary {
	color: #414649;
}
.page-high {
	height: 100vh;
}

.side-show {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.signup-div{
	font-family: 'Lato', sans-serif;
}
.signup-div h1{
	font-family: 'Lobster', sans-serif;
	font-size: 52px;
	font-weight: 900;
}

.form-field {
	width: 70%;
	height: 30px;
	padding: 5px;
	border-radius: 4px;
	background: transparent;
	border: solid gainsboro 1px;
	margin-bottom: 10px;
}

.form-field:invalid {
	border: solid rgba(244, 92, 66, 0.6) 1px;
}

.submit-btn {
	width: 30%;
	height: 35px;
	color: white;
	background-color: #37adff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
}

.submit-btn:hover {
	background-color: #2E93D9;
}


.main-logo {
	width: 30%;
}

.small-text {
	font-size: 14px;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
  }
  .lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 51px;
	height: 51px;
	margin: 6px;
	border: 6px solid rgb(156, 22, 22);
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: rgb(156, 22, 22) transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
  }
  @keyframes lds-ring {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }